{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <title>GamesPlay</title>
</head>

<body>
<div id="box">
    <header>

        <!-- navigation bar-->
        <h1><a class="home" href="{% url 'index' %}">GamesPlay</a></h1>
        <nav>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'create game' %}">Create Game</a>
            <a href="{% url 'details profile' %}">Profile</a>
        </nav>
    </header>

    <!-- profile details section -->
    <section id="game-details">
        <h1>Profile Details</h1>
        <div class="info-section">
            <div class="game-header">
                {% if not profile.profile_picture %}
                    <img class="game-img" src="{% static '/images/default-user.jpg' %}" alt='profile-image'/>
                {% else %}
                    <img class="game-img" src="{{ profile.profile_picture }}" alt='profile-image'/>
                {% endif %}
                {% if name %}
                    <h1>{{ name }}</h1>
                {% endif %}
                <!-- user email -->
                <p class="text">Email: {{ profile.email }}</p>
                <!-- user age -->
                <p class="text">Age: {{ profile.age }}</p>
                <!-- total number of games -->
                <p class="text">Total games: {{ games_count }}</p>
                {% if games_count > 0 %}
                    <p class="text">Average rating: {{ average|floatformat:1 }}</p>
                {% else %}
                    <p class="text">Average rating: 0.0</p>
                {% endif %}
                <!-- Edit/Delete buttons -->
                <div class="buttons">
                    <a href="{% url 'edit profile' %}" class="button">Edit</a>
                    <a href="{% url 'delete profile' %}" class="button">Delete</a>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>
</div>
</body>
</html>