<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        form .helptext {
            display: none;
        }

        form label:hover + .helptext {
            display: block;
        }

        .form-control {
            padding: 5px 15px;
            color: white;
            background: black;
        }
    </style>
</head>
<body>

<ul>
    <li>
        <a href="{% url 'index' %}">Forms</a>
    </li>
    <li>
        <a href="{% url 'model index' %}">Model forms</a>
    </li>
</ul>
<h1>{% block title %} {% endblock %}</h1>
{%  block content %}
{% endblock %}

</body>
</html>