{% extends 'base.html' %}

{% block title %}
    Forms
{% endblock %}

{% block content %}
<h2>
    {%  if name %}
        Hello, {{ name }}! Nice to see you!
    {% else %}
        Please, enter your name!
    {% endif %}
</h2>
{{ csrf_token }}
<h3>Default form</h3>
<form action="{% url 'index' %}" method="post">
    {{ form }}
    {%  csrf_token %}
    <button>Send name</button>
</form>
<h3>Manual form</h3>
<form action="{% url 'index' %}" method="post">
    {% for field in form %}
        <label for="{{ field.id_for_label }}">
            <strong>{{ field.label }}</strong>
            {{ field }}
        </label>

    {% endfor %}
    {%  csrf_token %}
    <button>Send name</button>
</form>
{% endblock %}
